.footer-wrapper {
  padding: 100px 25px 60px;

  .top {
    padding-bottom: 101px;
    margin-bottom: 29px;
    border-bottom: 1px solid rgba(244, 244, 244, 0.4);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 51px;

    & > div {
      gap: 24px;
    }
    img {
      width: 175px;
    }
    ul {
      gap: 16px;
    }
    p {
      max-width: 357px;
    }
    .prenumeruoti {
      gap: 19px;

      .input-container {
        position: relative;

        input {
          border: 0;
          border-radius: 40px;
          font-size: 18px;
          color: var(--secondary);
          padding: 22px;
          width: 433px;
          height: 67px;

          &::placeholder {
            color: var(--secondary);
          }
        }
      }
      button {
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 10px;
        font-size: 18px;
        line-height: 24px;
        padding: 12px 16px;
      }
    }
  }

  .bot {
    justify-content: space-between;

    h5 {
      margin-bottom: 16px;
      flex-wrap: wrap;
    }
    .socials {
      gap: 29px;
      align-items: center;
    }
  }
}
